html {
  font-weight: 100;
  font-size: $font-size-initial;
}

body {
  color: $text-color;
  font-family: $font-family-base;
}

html,
body,
#app {
  height: 100%;
  background-color: $body-bg-color;
}

img.responsive {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: $color-purple;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    color: $color-purple;
  }
}

button:focus,
input:focus {
  outline: none;
}

.popover {
  color: red;
  background-color: transparent;
  border: 2px dashed $color-purple;
  font-size: $font-size-lg;

  .arrow {
    width: 3rem;
    height: 2rem;
    transform: rotate(147deg) skew(58deg, 0deg);
    background-color: transparent;
    border: 2px dashed $color-purple;
    z-index: -1;

    &::after, &::before {
      display: none;
    }
  }

  &-body {
    z-index: 2;
    background-color: #eee;
  }
}
