// Font Family
$font-family-base: 'Montserrat', sans-serif;

// Font Size
$font-size-initial: 14px;
$font-size-base: 1rem !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: 0.875rem !default;

// Text Color
$text-color: black;

// Background Colors
$body-bg-color: #eee;
$sidebar-bg-color: #fff;


// Sidebar
$sidebar-width: 220px;
